@import "react-image-gallery/styles/css/image-gallery.css";

:root {
  --color-background: #fff;
  --color-secondary: #e4e9f2;

  --color-font-1: #1d2026;
  --color-font-2: #69707d;
  --color-orange: #ff7e1b;
  --bp-small: 23.43em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}
main {
  padding: 2.8rem 16rem;
  @media only screen and (max-width: 735px) {
    padding: 0;
    min-width: 100vw;
  }
}
